* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Mono", monospace;
}

.aviso {
  position: absolute;
  max-width: 300px;
  background-color: #ffd4d4;
  padding: 5px;
  border-radius: 0 0 5px 0;
  font-size: 1rem;
}

.aviso span {
  color: red;
  font-weight: bold;
}

.aviso p {
  display: none;
}

.aviso:hover p {
  display: inline-block;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 15px;
  background: linear-gradient(180deg, #86c6ff 0, #d7eaff 100%) no-repeat;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0 0 9px 9px;
  margin-bottom: 25px;
}

.contato a {
  padding: 4px;
  padding-bottom: 1px;
  border-radius: 8px;
}

.insta:hover {
  background-color: #e231aa;
  border-radius: 8px;
  transition: 0.5s;
}

.github:hover {
  background-color: #333941;
  border-radius: 8px;
  transition: 0.5s;
}

.linkedin:hover {
  background-color: #00bedc;
  border-radius: 8px;
  transition: 0.5s;
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  background-size: cover;
}

.bg {
  min-height: 100vh;
  background: linear-gradient(180deg, #4da7ff 0, #d7eaff 100%) no-repeat;
}

.formulario {
  background: linear-gradient(180deg, #2f85fd 0%, #2663fd 70%);
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-column: column;
  gap: 5px;
  width: 100%;
  color: #f4f8ff;
  text-align: center;
}
.input-box {
  margin-bottom: 50px;
  gap: 0;
}

.input-box label {
  font-size: 20px;
  font-family: "roboto", sans-serif;
}

.input {
  background-color: #d5e4ff;
  padding: 1px 5px;
  border-radius: 3px;
  display: flex;
  margin: 10px auto;
}

.input input {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}
.input input::-webkit-inner-spin-button,
.input input::-webkit-outer-spin-button {
  appearance: none;
}

.input input:focus {
  outline: none;
}

button {
  border: none;
  background: radial-gradient(circle, #4da7ff 0%, #2663fd 100%);
  color: #fff;
  padding: 8px 13px;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
}

.resultado {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.produto {
  font-size: 30px;
  flex-basis: 100%;
  text-align: center;
}
.caixa {
  background: linear-gradient(180deg, #4da7ff 0%, #2480ff 100%);
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 202px;
  height: 120px;
  border-radius: 9px;
  border: #86c6ff 1px solid;
  color: #02298b;
}

.nao-ativo {
  display: none;
}
.footer {
  width: 500px;
  margin-top: 50px;
  background: linear-gradient(90deg, #57a8fa 0%, #1f70e0 100%);
  border-radius: 0 10px 0 0;
}

.footer p {
  padding: 10px;
  text-align: end;
}

.fixado {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* --------FLIP-------- */

.caixa_flip {
  overflow: hidden;
  border-radius: 10px;
}

.caixa_flip img {
  object-fit: cover;
  width: 100%;
  border-radius: 9px;
  /* height: 400px; */
  bottom: 0;
  object-position: left bottom;
}

.caixa {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  align-items: center;
  justify-content: center;
}

.caixa_front,
.caixa_back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  backface-visibility: hidden;
  font-size: 18px;
}

.caixa_flip:hover .caixa {
  transform: rotateY(-180deg);
  scale: 1.15;
  overflow: visible;
}

.caixa_back {
  transform: rotateY(-180deg);
}

@media (max-width: 525px) {
  .footer {
    width: 100%;
    text-align: center;
    border-radius: 0;
  }
  .footer p {
    text-align: center;
  }
  .aviso {
    font-size: 0.68rem;
    z-index: 1;
  }
  .caixa {
    width: 185px;
    height: 100px;
  }
  .produto {
    font-size: 20px;
  }
  .proteina-box,
  .carbo-box {
    font-size: 15px;
  }
  .contato {
    margin: 0 10px 25px auto;
  }
  .formulario {
    scale: 0.8;
  }
  .contato img {
    width: 25px;
    height: 25px;
  }

  .contato:hover img {
    height: 45px;
    transition: 1s;
  }
}
