* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background: linear-gradient(180deg, #4da7ff 0, #d7eaff 100%) no-repeat;
}
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  gap: 15px;
  background: linear-gradient(180deg, #86c6ff 0, #d7eaff 100%) no-repeat;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0 0 9px 9px;
  margin-bottom: 25px;
}

.contato a {
  padding: 4px;
  border-radius: 8px;
}

.insta:hover {
  background-color: #e231aa;
  border-radius: 8px;
  transition: 0.5s;
}

.github:hover {
  background-color: #333941;
  border-radius: 8px;
  transition: 0.5s;
}

.linkedin:hover {
  background-color: #00bedc;
  border-radius: 8px;
  transition: 0.5s;
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.bg {
  height: 100vh;
}

.formulario {
  background: linear-gradient(180deg, #2480ff 0%, #0648ef 70%);
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-column: column;
  gap: 5px;
  width: 100%;
  color: #f4f8ff;
  text-align: center;
}
.input-box {
  margin-bottom: 50px;
  gap: 0;
}

.input-box label {
  font-size: 20px;
  font-family: monospace;
}

.input {
  background-color: #d5e4ff;
  padding: 1px 5px;
  border-radius: 3px;
  display: flex;
  margin: 10px auto;
}

.input input {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}
.input input::-webkit-inner-spin-button,
.input input::-webkit-outer-spin-button {
  appearance: none;
}

.input input:focus {
  outline: none;
}

button {
  border: none;
  background: radial-gradient(circle, #4da7ff 0%, #0648ef 100%);
  color: #fff;
  padding: 8px 13px;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-family: "roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}

.resultado {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caixa {
  background: linear-gradient(180deg, #4da7ff 0%, #2480ff 100%);
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 180px;
  height: 120px;
  border-radius: 9px;
  border: #86c6ff 1px solid;
  color: #02298b;
}

.nao-ativo {
  display: none;
}
